# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# Build
build/
/dist

# Env
.env
backend/.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.envrc

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
